In [16]:
import pandas as pd
import csv

In [17]:
data_file_path = 'data/kp_segunda_instancia/training.csv'

In [18]:
df = pd.read_csv(data_file_path, sep='\t', quoting=csv.QUOTE_NONE, header=0, index_col=False)

df.head()

         word target                       filename  sentence_number
0           a      o  0014197-64.2014.8.19.0001.txt                0
1           )      o  0014197-64.2014.8.19.0001.txt                0
2       negar      o  0014197-64.2014.8.19.0001.txt                0
3  provimento      o  0014197-64.2014.8.19.0001.txt                0
4           a      o  0014197-64.2014.8.19.0001.txt                0

In [19]:
df['word_size'] = df.word.apply(lambda x: len(str(x)))

df.head()

,word,target,filename,sentence_number,word_size
0,a,o,0014197-64.2014.8.19.0001.txt,0,1
1,),o,0014197-64.2014.8.19.0001.txt,0,1
2,negar,o,0014197-64.2014.8.19.0001.txt,0,5
3,provimento,o,0014197-64.2014.8.19.0001.txt,0,10
4,a,o,0014197-64.2014.8.19.0001.txt,0,1

In [20]:
df.word_size.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

0.1    1.0
0.2    1.0
0.3    1.0
0.4    2.0
0.5    2.0
0.6    4.0
0.7    5.0
0.8    7.0
0.9    9.0
Name: word_size, dtype: float64